<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828707050227-kpalaufji1oops4cfrpvojmmugbq4c4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828707050227-kpalaufji1oops4cfrpvojmmugbq4c4d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828707050227-bil6e5m8mqs997jegskm4mlaakctn5pt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAP42Bw_UppRx8M-OnyhzjebM1begUboo</string>
	<key>GCM_SENDER_ID</key>
	<string>828707050227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.rylero.geonotes</string>
	<key>PROJECT_ID</key>
	<string>geonotes-b2661</string>
	<key>STORAGE_BUCKET</key>
	<string>geonotes-b2661.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828707050227:ios:0c9dfb34a0a5f9fd23dd86</string>
</dict>
</plist>